@model WebApplication2.Models.Customer

@{
    ViewBag.Title = "Vendor_login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="ProductInformation_bg" class="container-fluid">
    <div class="row" style="z-index:3;position:absolute;margin-top:20px;width:100%;height:100%;">
        <div class="col-2 col-lg-2">

        </div>

        <div class="col-8 col-lg-8">
            <p style="margin-bottom:50px;">
                <a href="@Url.Action("MainPageSearch","MainPage")">
                    <span class="glyphicon glyphicon-home" style="color:aliceblue;font-size:25px;">&nbsp;HomePage</span>
                </a>
                <span class="glyphicon glyphicon-menu-right" style="color:aliceblue;font-size:15px;"></span>
                <a href="@Url.Action("Vendor_login","MainPage")">
                    <span style="color:aliceblue;font-size:25px;">&nbsp;廠商登入</span>
                </a>
            </p>
      
            <p style="color:aliceblue;font-size:25px;font-weight:bold;margin-left:50px;border-bottom-color:darkgrey;border-bottom:solid 5px;">已加入會員?</p>
            <label style="color:lightyellow;font-weight:bold;font-size:20px;margin-left:50px;text-shadow: black 0.1em 0.1em 0.2em;">會員資格</label><br /><br />

            <select id="Select_ItemMember" style="width:120px;height:40px;font-size:25px;margin-left:50px;">
                <option value="default_value" selected="selected"></option>
                <option value="會員" style="font-size:25px;">會員</option>
                <option value="非會員" style="font-size:25px;">非會員</option>
            </select>

            <div id="Member" style="display:none;margin-top:10px;height:auto;margin-left:50px;">
                @*<p>會員</p>*@

                @using (Ajax.BeginForm("Member_login", "MainPage", new AjaxOptions() { HttpMethod = "POST" }))
                {
                    @Html.AntiForgeryToken()
                    <p style="color:aliceblue;font-size:25px;font-weight:bold;border-bottom-color:darkgrey;border-bottom:solid 5px;">會員登入</p>
                    <label style="color:lightyellow;font-weight:bold;font-size:20px;text-shadow: black 0.1em 0.1em 0.2em;">輸入會員帳號</label><br>
                    @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control" } })<br>
                    <p id="AccountP" style="font-size:18px; font-weight:bold;color:	#FF4500;"></p>

                    <label style="color:lightyellow;font-weight:bold;font-size:20px;text-shadow: black 0.1em 0.1em 0.2em;">輸入會員密碼</label><br />
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } }) <br>
                    <p id="PasswordP" style="font-size:18px; font-weight:bold;color:	#FF4500;"></p>

                    <input type="submit" value="登入" class="btn btn-primary" style="margin-top:10px;width: 150px;height:50px;font-size:25px;" onclick="FrontCheck()" />

                }
            </div>

            <div id="NotMember" style="display:none;margin-top:10px;margin-left:50px;">
                @*<p>非會員</p>*@
                @using (Ajax.BeginForm("Vendor_login", "MainPage", new AjaxOptions() { HttpMethod = "POST" }))
                {
                    @Html.AntiForgeryToken()
                    <p style="color:aliceblue;font-size:25px;font-weight:bold;border-bottom-color:darkgrey;border-bottom:solid 5px;">填寫會員資料</p>

                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-sm-4">

                            <label style="color:lightyellow;font-weight:bold;font-size:20px;text-shadow: black 0.1em 0.1em 0.2em;">Name</label><br />
                            @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control", style = "width: 150px;height:50px;font-size:18px;" } })<br />
                            @Html.ValidationMessageFor(model => model.CustomerName, "", htmlAttributes: new { @class = "", style = "font-size:18px; font-weight:bold;color:	#FF4500;" })
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-4">

                            <label style="color:lightyellow;font-weight:bold;font-size:20px;text-shadow: black 0.1em 0.1em 0.2em;">CompanyName</label><br />
                            @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control", style = "width: 150px;height:50px;font-size:18px;margin-right:145px;" } })<br />
                            @Html.ValidationMessageFor(model => model.CompanyName, "", htmlAttributes: new { @class = "", style = "font-size:18px; font-weight:bold;color:	#FF4500;" })
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-4">

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-sm-4">
                            <label style="color:lightyellow;font-weight:bold;font-size:20px;margin-right:225px;text-shadow: black 0.1em 0.1em 0.2em;">Gender</label><br />
                            @Html.DropDownListFor(model => model.Gender, (IEnumerable<SelectListItem>)ViewData["GenderChoise"], htmlAttributes: new { @class = "", style = "width: 150px;height:50px;font-size:18px;" })<br />
                            @Html.ValidationMessageFor(model => model.Gender, "", htmlAttributes: new { @class = "", style = "font-size:18px; font-weight:bold;color:	#FF4500;" })
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-4">
                            <label style="color:lightyellow;font-weight:bold;font-size:20px;margin-right:242px;text-shadow: black 0.1em 0.1em 0.2em;">PhoneNumber</label><br />
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", style = "width: 250px;height:50px;font-size:18px;" } })<br />
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", htmlAttributes: new { @class = "", style = "font-size:18px; font-weight:bold;color:	#FF4500;" })
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-4">
                            <label style="color:lightyellow;font-weight:bold;font-size:20px;text-shadow: black 0.1em 0.1em 0.2em;">Adress</label><br />
                            @Html.EditorFor(model => model.Adress, new { htmlAttributes = new { @class = "form-control", style = "width: 250px;height:50px;font-size:18px;" } })<br />
                            @Html.ValidationMessageFor(model => model.Adress, "", htmlAttributes: new { @class = "", style = "font-size:18px; font-weight:bold;color:	#FF4500;" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-sm-4">
                            <label style="color:lightyellow;font-weight:bold;font-size:20px;text-shadow: black 0.1em 0.1em 0.2em;">Account</label><br />
                            @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control", style = "width: 150px;height:50px;font-size:18px;" } })<br />
                            @Html.ValidationMessageFor(model => model.Account, "", htmlAttributes: new { @class = "", style = "font-size:18px; font-weight:bold;color:	#FF4500;" })<br />



                            <label style="color:lightyellow;font-weight:bold;font-size:20px;text-shadow: black 0.1em 0.1em 0.2em;">PassWord</label><br />
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", style = "width: 150px;height:50px;font-size:18px;" } }) <br />
                            @Html.ValidationMessageFor(model => model.Password, "", htmlAttributes: new { @class = "", style = "font-size:18px; font-weight:bold;color:	#FF4500;" })<br />
                            <input type="submit" value="註冊" class="btn btn-primary" style="margin-top:10px;width: 150px;height:50px;font-size:25px;" />
                        </div>

                        <div class="col-md-8 col-lg-8 col-sm-8">

                            @Html.ValidationSummary(true, "", htmlAttributes: new { @class = "", style = "font-size:18px; font-weight:bold;color:	#FF4500;" })
                        </div>
                    </div>

                }
            </div>

        </div>
        <div class="col-2 col-lg-2">

        </div>
    </div>
</div>


<script type="text/javascript">
    $(Select_ItemMember).change(function () {
        var passdata;
        switch ($(Select_ItemMember).val()) {
            case "會員":
                $(NotMember).css({ "display": "none" });
                $(Member).css({ "display": "block" });

                SelectValueCheck($(Select_ItemMember).val());


                break;

            case "非會員":
                $(Member).css({ "display": "none" });
                $(NotMember).css({ "display": "block" });

                SelectValueCheck($(Select_ItemMember).val());

                break;
            default:
                break;
        }
    })
    //幫助後台判斷在哪個操作範圍,避開登入和註冊都判斷帳號重複的邏輯錯誤,傳送SELECT VALUE 給後台
    function SelectValueCheck(passdata1) {
        passdata = passdata1;
       
        $.ajax({
            type: "Post",
            url: '/MainPage/ReceiveSelectValue',
            data: JSON.stringify({ SelectValue: passdata }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: true
        })
    }
    //前端驗證JavaScript Function 撰寫,驗證會員登入是否控白
    function FrontCheck() {

        if ($(Account).val() == "") {

            $(AccountP).html("請輸入帳號");

        }
        if ($(Password).val() == "") {

            $(PasswordP).html("請輸入密碼");

        }

    }




</script>
